.DS_Store
**/.DS_Store
.idea
.vscode/
dataset/cifar*/
dataset/glue*/
dataset/svhn*/
dataset/imagenet*/
dataset/emnist*/
dataset/speechcmds*/
dataset/sst2*/
dataset/mrpc*/
dataset/wnli*/
dataset/qqp*/
dataset/qnli*/
dataset/rte*/
cifar*/
models/
*.pth
img/
__pycache__/
wandb/
front-exps/
EXPS2_V100/
dataset/dataset/
