.DS_Store
**/.DS_Store
.idea
.vscode/
dataset/cifar*/
dataset/glue/
dataset/svhn/
dataset/imagenet/
dataset/emnist/
dataset/speechcmds/
dataset/sst2/
dataset/mrpc/
dataset/wnli/
dataset/qqp/
dataset/qnli/
dataset/rte/
cifar*/
models/
script/08*/
*.pth
img/
__pycache__/
wandb/
EXPS/
EXPS2/
exps/
front-exps/
